# Name: KinemaJ_
# Description: This plugin analyze kinematic videos in 2D
# Author: Nicolas Stifani nstifani@gmail.com
# Version: 1.0
# Date: 2015/12/01
# Requires: ImageJ 1.50f
Plugins>KinemaJ, "Toggle KinemaJ Toolbar Autostart", KinemaJ_("Toggle Autostart")
Plugins>KinemaJ, "KinemaJ Toolbar", Action_Bar("jar:file:KinemaJ_.jar!/KinemaJ_Macros/KinemaJ_Toolbar.txt")
Plugins>KinemaJ, "Get Calibration Values", KinemaJ_("Get Calibration Values")
Plugins>KinemaJ, "Get ROI and Threshold Values", KinemaJ_("Get ROI and Threshold Values")
Plugins>KinemaJ, "Crop and Threshold Videos", KinemaJ_("Crop and Threshold Videos")
Plugins>KinemaJ, "Track Markers", KinemaJ_("Track Markers")
Plugins, "MTrack2csv", MTrack2csv_("")
Plugins, "MTrack2", MTrack2_("")
